.post-img{
    height: 404px;
    overflow: hidden;
    margin-top: 14px;
}
.post-img img{
    width: 100%;
    opacity: 0.8;
}
.blog-post-content h1{
    /* background-color: chartreuse; */
    text-align: center;
}
.blog-post-content p{
    font-size: 19px;
}
/* .row{ */
    /* display: flex; */
/* } */
/* .more-post{
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.blogpost-meta{
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
}
.author-info div{
    padding: 6px 0px;
    font-family: var(--font1);
}
.author-info{
    margin: 11px 0;
}
.social{
    display: flex;
    align-self: center;
    cursor: pointer;
    padding-right: 53px;
}