*{
    margin: 0;
    padding: 0;
}
.navigation{
    margin-top: 25px;
    font-family: var(--font1);
    /* height: 74px; */
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    font-size: 20px;
    display: flex;
}
.left ul{
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.left ul li{
    list-style: none;
    margin: 0 14px;
}
.left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}
.content{
    display: flex;
    height: 100%;
    background-color: rgb(208, 177, 211, 0.9);
    margin-top: 20px;
    padding: 9px;
    /* background-image: url('C:\Users\Lenovo\OneDrive\Desktop\Newfolder\pics\article1.jpg'); */
    position: relative;
    border-radius: 10px;
}
.content-left{
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding-left: 34px;
}
.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    height: 335px;
    border: 2px solid black;
    border-radius: 190px;
}
.left ul li a{
    text-decoration: none;
    color: black;
}
.footer{
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color:  white;
    flex-direction: column;
}
.footer a{
    color: white;
}
.home-articles{
    background-color: rgba(226, 212, 228, 0.7);
    padding: 18px;
    margin-top: 25px;
    position: relative;
}
.year-box{
    position: absolute;
    width: 164px;
    height: 184px;
    right: -22px;
    top: 27px;
    /* background-color: brown; */

}
.home-article-content a{
    text-decoration: none;
    color: black;
}
.home-article{
    display: flex;
    margin: 16px;
}
.home-article img{
    width: 300px;
}
.home-article-content{
    /* align-self: center; */
    padding: 25px;
}
.logo{
    font-family: var(--font2);
    font-weight: bolder;
    font-size: 50px;
}